body {
    background-color: #f1f1f1;
    font-family: 'Donegal One', serif;
    display: flex;
    justify-content: center;
}

#gridcontainer {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr) 1fr;
    grid-template-rows: 1fr repeat(10, 2fr) 1fr;
    min-height: 0;
    min-width: 0;
}

#backgroundborder {
    grid-column: 1 / 6;
    grid-row: 1 / 13;
    flex: 1 1;
    justify-self: center;
}

#backgroundborder img {
    max-width: 100%;
    max-height: 200vh;
    display: flex;
}

#mainbackground {
    background-color: #388fe2;
    min-width: 800px;
    max-height: 200vh;
    grid-column: 2 / 5;
    grid-row: 1 / 13;
    justify-self: center;
    z-index: -1;
}

header {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: grid;
    max-width:800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
}

#headshot {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    max-width: 150px;
    display: flex;
    z-index: 3;
    justify-self: right;
    opacity: .8;
}

header .pcmainimg {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    object-fit: cover;
    display: flex;
    justify-self: center;
}

header .pcbackground {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    object-fit: cover;
    display: flex;
    z-index: 3;
    opacity: .3;
    justify-self: center;
}

header .postcard {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    object-fit: cover;
    display: flex;
    z-index: 2;
    opacity: .9;
    justify-self: center;
}

header h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 5;
    margin: .5rem;
    font-size: 1.75rem;
}

img {
    display: none;
    max-width: 800px;
}


nav {
  /*all nav items the same size/font*/
}

.postcard {

}

.pcmainimg {

}

.pcbackground {

}

.pcoverlay {

}

.projectpostcards {
    font-family: 'Short Stack', cursive;
}

.projectlink {
    font-family: 'News Cycle', sans-serif;
}