body {
    background-color: #f1f1f1;
    font-family: 'Donegal One', serif;
    display: flex;
    justify-content: center;
    color: #0e009f;
}

#gridcontainer {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1fr) 1fr;
    grid-template-rows: 1fr repeat(10, 2fr) 1fr;
    min-height: 0;
    min-width: 0;
}

#backgroundborder {
    grid-column: 1 / 6;
    grid-row: 1 / 13;
    flex: 1 1;
    justify-self: center;
}

#backgroundborder img {
    max-width: 100%;
    max-height: 200vh;
    display: flex;
}

#mainbackground {
    background-color: #388fe2;
    min-width: 800px;
    max-height: 200vh;
    grid-column: 2 / 5;
    grid-row: 1 / 13;
    justify-self: center;
    z-index: -1;
}

header {
    grid-column: 2 / 5;
    grid-row: 2 / 5;
    display: grid;
    max-width:800px;
    min-width:800px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-self: center;
}

header .pcmainimg {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    object-fit: cover;
    display: flex;
    justify-self: center;
}

header .pcbackground {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    object-fit: cover;
    display: flex;
    z-index: 3;
    opacity: .3;
    justify-self: center;
}

header .postcard {
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    object-fit: cover;
    display: flex;
    z-index: 2;
    opacity: .9;
    justify-self: center;
}

header h1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    z-index: 5;
    margin: .33rem 8.75rem 8rem .33rem;
    font-size: 2rem;
    background-color: #f1f1f1;
    border: .25rem solid #0e009f;
    padding-left: .25rem;
    opacity: .6;
}

img {
    max-width: 800px;
    display:none;
}


nav {
    font-family: 'Short Stack', cursive;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    z-index: 5;
    margin: .5rem 3rem .5rem -5rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    opacity: .6;
    font-family: 'News Cycle', sans-serif;
}

#projects {
    background-color: #f1f1f1;
    border: .25rem solid #0e009f;
    padding-left: .25rem;
}

#contacts {
    background-color: #f1f1f1;
    border: .25rem solid #0e009f;
    padding-left: .25rem;
    margin-top: -.25rem;
}

#blank {
    background-color: #f1f1f1;
    border: .25rem solid #0e009f;
    margin-top: -.25rem;
}

#portfolio1 {
    font-family: 'Short Stack', cursive;
    grid-column: 2 / 4;
    grid-row: 5 / 7;
    z-index: 5;
    margin: -2rem 3rem .5rem 3rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 28rem;
    display: grid;
}

#portfolio1 > .pcmainimg {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
}

#portfolio1 > .pcbackground {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
    z-index: 3;
    opacity: .3;
}

#portfolio1 > .pcoverlay {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
    z-index: 3;
    opacity: .3;
}

#portfolio1 > .projecttitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 0rem 1rem 10rem 0rem;
    opacity: .85;
    line-height: 1rem;
    font-family: 'Donegal One', serif;
}

#portfolio1 > .projectdesc {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 4rem 1rem 8rem 1rem;
    opacity: .85;
    line-height: 1rem;
}
#portfolio1 > .projectlink {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 6rem 2rem 0rem 2rem;
    opacity: .85;
    line-height: 1rem;
}

#portfolio2 {
    font-family: 'Short Stack', cursive;
    grid-column: 2 / 4;
    grid-row: 7 / 9;
    z-index: 5;
    margin: -2rem 3rem .5rem 3rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 28rem;
    display: grid;
}

#portfolio2 > .pcmainimg {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
}

#portfolio2 > .pcbackground {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
    z-index: 3;
    opacity: .3;
}

#portfolio2 > .pcoverlay {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
    z-index: 3;
    opacity: .3;
}

#portfolio2 > .projecttitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 0rem 1rem 10rem 0rem;
    opacity: .85;
    line-height: 1rem;
    font-family: 'Donegal One', serif;
}

#portfolio2 > .projectdesc {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 4rem 1rem 8rem 1rem;
    opacity: .85;
    line-height: 1rem;
}
#portfolio2 > .projectlink {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 6rem 2rem 0rem 2rem;
    opacity: .85;
    line-height: 1rem;
}

#portfolio3 {
    font-family: 'Short Stack', cursive;
    grid-column: 2 / 4;
    grid-row: 9 / 11;
    z-index: 5;
    margin: -2rem 3rem .5rem 3rem;
    font-size: 1.75rem;
    line-height: 2.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 28rem;
    display: grid;
}

#portfolio3 > .pcmainimg {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
}

#portfolio3 > .pcbackground {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
    z-index: 3;
    opacity: .3;
}

#portfolio3 > .pcoverlay {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    max-width: 28rem;
    z-index: 3;
    opacity: .3;
}

#portfolio3 > .projecttitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 0rem 1rem 10rem 0rem;
    opacity: .85;
    line-height: 1rem;
    font-family: 'Donegal One', serif;
}

#portfolio3 > .projectdesc {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 4rem 1rem 8rem 1rem;
    opacity: .85;
    line-height: 1rem;
}
#portfolio3 > .projectlink {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    background-color: #f1f1f1;
    border: .15rem solid #0e009f;
    padding-left: .25rem;
    padding-top: .25rem;
    margin: 6rem 2rem 0rem 2rem;
    opacity: .85;
    line-height: 1rem;
}

.projectpostcards {
    font-family: 'Short Stack', cursive;
}

.projectlink {
    font-family: 'News Cycle', sans-serif;
}

.contactbar {
    grid-column: 4 / 5;
    grid-row: 5 / 10;
    z-index: 2;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    max-width: 14rem;
    display: grid;
    background-color: #f1f1f1;
    margin: -2rem 3rem .5rem 0rem;
    border: .25rem dashed #d6464f;
}

.contactbar a {
    align-self: center;
    justify-self: center;
}

#postbox {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    object-fit: cover;
    justify-self: center;
    align-self: start;
    margin-top: .4rem;
    max-width: 13rem;
}

#linkedin {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    max-width: 5rem;
}

#github {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    max-width: 5rem;
}

#PMP {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display: flex;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    max-width: 5rem;
}

#codecademy {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    object-fit: cover;
    justify-self: center;
    align-self: center;
    max-width: 5rem;
}


#postbox2 {
    grid-column: 1 / 3;
    grid-row: 5 / 7;
    display: flex;
    object-fit: cover;
    justify-self: center;
    align-self: end;
    margin-bottom: .4rem;
    max-width: 13rem;
}